<?xml version="1.0" encoding="UTF-8" ?>
<configuration status="info">

    <properties>
        <property name="APP_FILE" value="./logs/carrot-core.log"/>
        <property name="LIB_FILE" value="./logs/carrot-lib.log"/>
    </properties>

    <appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %p %c{1.} [%t] %m%n"/>
        </Console>

        <RollingRandomAccessFile name="APP_SIZE_APPENDER" fileName="${APP_FILE}"
                                 filePattern="${APP_FILE}.%d{yyyy-MM-dd}.%i.gz">
            <PatternLayout pattern="%d %p %c{1.} [%t] %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="LIB_SIZE_APPENDER" fileName="${LIB_FILE}"
                                 filePattern="${LIB_FILE}.%d{yyyy-MM-dd}.%i.gz">
            <PatternLayout pattern="%d %p %c{1.} [%t] %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>
    </appenders>

    <Loggers>
        <Logger level="DEBUG" name="org.bigbase">
            <appender-ref ref="APP_SIZE_APPENDER"/>
        </Logger>

        <Logger level="WARN" name="org.apache">
            <appender-ref ref="LIB_SIZE_APPENDER"/>
        </Logger>

        <Logger level="WARN" name="com.google">
            <appender-ref ref="LIB_SIZE_APPENDER"/>
        </Logger>

        <Root level="INFO">
            <appender-ref ref="STDOUT"/>
        </Root>
    </Loggers>

</configuration>